@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body #mundo{
    width: 148px;
    position: absolute;
    top: 40%;
    left: 66%;
}


/* BARRA DE NAVEGAÇÃO */
#menu {
    display: flex;
    background-color: white;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
#menu #entrar{
    margin-right: 20px;
    margin-top: 20px; 
}
#menu #cadastre{
    margin-right: 20px;
    margin-top: 20px;
}
#menu img{
    margin-left: 20px;
    width: 60px;
    /* margin-top: -10px; */
}
/* LOGO BODY */
.logo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.logo img{ 
    padding: 300px;
}



/* POP UP INICO DO JOGO */
#pop-upI{
    /* display: none; */
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: coisa;
    animation-duration: 800ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#pop-upI .container{
    background: #ffffffef;
    border-radius: 4%;
    box-shadow: 5px 5px 1px 0 #00000080;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 800px;


    position: absolute;
}
#pop-upI .cards{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: baseline;
}

#pop-upE1{
    display: none;
}
#pop-upE2{
    display: none;
}
#pop-upE3{
    display: none;
}
#pop-upE4{
    display: none;
}
#pop-upE5{
    display: none;
}
#pop-upE6{
    display: none;
}
#pop-upE7{
    display: none;
}
#pop-upE8{
    display: none;
}
#pop-upE9{
    display: none;
}



/* LIXEIRAS */
.vermelho{
    display: flex;
    flex-direction: column;
}
.marrom{
    display: flex;
    flex-direction: column;
}
.verde{
    display: flex;
    flex-direction: column;
}
.azul{
    display: flex;
    flex-direction: column;
}
.amarelo{
    display: flex;
    flex-direction: column;
}

/* IMAGENS DE ENTRADA */
#lata{
    display: block;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 48%;
    animation-name: lata;
    animation-duration: 1s;
    transform: rotate(90deg);
}
@keyframes lata{
    0% { left: -25%;
        top: 0%;}
    99%{left: 48%;
        top: 88%;
        transform: rotate(450deg);
        
    }

    
}


#garrafa{
    display: block;
    width: 52px;
    position: absolute;
    bottom: -2%;
    left: 48%;
    animation-name: garrafa;
    animation-duration: 1s;
    transform: rotate(90deg);
}

@keyframes garrafa{
    0% { left: -25%;
        top: 0%;}
    99%{left: 48%;
        top: 85%;
        transform: rotate(450deg);
        
    }

    
}

#maca{
    display: block;
    width: 61px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    animation-name: maca;
    animation-duration: 1s;
    transform: rotate(90deg);
}

@keyframes maca{
    0% { left: -25%;
        top: 0%;}
    99%{left: 50%;
        top: 88%;
        transform: rotate(450deg);
        
    }

    
}

#papel{
    display: block;
    width: 56px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    animation-name: papel;
    animation-duration: 1s;
    transform: rotate(90deg);
}

@keyframes papel{
    0% { left: -25%;
        top: 0%;}

    99%{left: 50%;
        top: 90%;
        transform: rotate(450deg);
        
    }    
}

#vidro{
    display: block;
    width: 99px;
    position: absolute;
    bottom: 2%;
    left: 48%;
    animation-name: vidro;
    animation-duration: 1s;
    transform: rotate(90deg);
}

@keyframes vidro{
    0% { left: -25%;
        top: 0%;}
    99%{left: 48%;
        top: 86%;
        transform: rotate(450deg);
        
    }  
}

#parafuso{
    display: block;
    width: 64px;
    position: absolute;
    bottom: 2%;
    left: 51%;
    animation-name: parafuso;
    animation-duration: 2s;
    transform: rotate(90deg);
}

@keyframes parafuso{
    10% { left: 5%;
        top: 70%;}
    99%{left: 51%;
        top: 90%;
        transform: rotate(450deg);
        
    } 
}

#copo{
    display: block;
    width: 64px;
    position: absolute;
    bottom: 2%;
    right: 47%;
    animation-name: copo;
    animation-duration: 2s;
    transform: rotate(90deg);
}

@keyframes copo{
    10% { right: 5%;
        top: 30%;}
    99%{right: 47%;
        top: 90%;
        transform: rotate(450deg);
        
    }
}

#banana{
    display: block;
    width: 64px;
    position: absolute;
    bottom: 2%;
    right: 47%;
    animation-name: banana;
    animation-duration: 2s;
}

@keyframes banana{
    10% { right: 5%;
        top: 30%;}
    95%{right: 47%;
        top: 90%;
        transform: rotate(360deg);
        
    }

    
}
#galao{
    display: block;
    width: 150px;
    position: absolute;
    bottom: -2%;
    right: 42%;
    animation-name: galao;
    animation-duration: 2s;
    transform: rotate(90deg);
}

@keyframes galao{
    10% { right: 5%;
        top: 30%;}
    95% {right: 42%;
        top: 82%;
        transform: rotate(450deg);
        
    }
}
#papelao{
    display: block;
    width: 146px;
    position: absolute;
    bottom: -3%;
    right: 44%;
    transform: rotate(-15deg);
    animation-name: papelao;
    animation-duration: 2s;
}

@keyframes papelao{
    10% { right: 5%;
        bottom: 30%;}
    100% {right: 44%;
        bottom: -3%;
        transform: rotate(340deg);
        
    }
}




/* BOTAO CONFIRMAR */
#confirmar{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar1{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar2{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar3{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar4{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar5{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar6{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar7{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar8{
    position: absolute;
    bottom: 2%;
    right: 1%;
}
#confirmar9{
    position: absolute;
    bottom: 2%;
    right: 1%;
}



/* TAMANHO E POSIÇÃO SETAS */
.setaV{
    position: absolute;
    left: 7%;
    top: 31%;
    height: 54%;
}

.setaA{
    position: absolute;
    left: 26%;
    top: 36%;
    height: 46%;
    transform: rotate(11deg);   
}

.setaVer{
    position: absolute;
    left: 47%;
    top: 32%;
    height: 52%;
    transform: rotate(-10deg);
}

.setaM{
    position: absolute;
    right: 23.5%;
    top: 32%;
    height: 49%;
    transform: rotate(-16deg);
}

.setaAm{
    position: absolute;
    right: 7%;
    top: 33%;
    height: 49%;
    transform: rotate(-2deg);
}




#seta0{
    display: none;
}
#seta1{
    display: none;
}
#seta2{
    display: none;
}
#seta3{
    display: none;
}
#seta4{
    display: none;
}

#seta0-1{
    display: none;
}
#seta1-1{
    display: none;
}
#seta2-1{
    display: none;
}
#seta3-1{
    display: none;
}
#seta4-1{
    display: none;
}


#seta0-2{
    display: none;
}
#seta1-2{
    display: none;
}
#seta2-2{
    display: none;
}
#seta3-2{
    display: none;
}
#seta4-2{
    display: none;
}

#seta0-3{
    display: none;
}
#seta1-3{
    display: none;
}
#seta2-3{
    display: none;
}
#seta3-3{
    display: none;
}
#seta4-3{
    display: none;
}

#seta0-4{
    display: none;
}
#seta1-4{
    display: none;
}
#seta2-4{
    display: none;
}
#seta3-4{
    display: none;
}
#seta4-4{
    display: none;
}


#seta0-5{
    display: none;
}
#seta1-5{
    display: none;
}
#seta2-5{
    display: none;
}
#seta3-5{
    display: none;
}
#seta4-5{
    display: none;
}


#seta0-6{
    display: none;
}
#seta1-6{
    display: none;
}
#seta2-6{
    display: none;
}
#seta3-6{
    display: none;
}
#seta4-6{
    display: none;
}


#seta0-7{
    display: none;
}
#seta1-7{
    display: none;
}
#seta2-7{
    display: none;
}
#seta3-7{
    display: none;
}
#seta4-7{
    display: none;
}


#seta0-8{
    display: none;
}
#seta1-8{
    display: none;
}
#seta2-8{
    display: none;
}
#seta3-8{
    display: none;
}
#seta4-8{
    display: none;
}

#seta0-9{
    display: none;
}
#seta1-9{
    display: none;
}
#seta2-9{
    display: none;
}
#seta3-9{
    display: none;
}
#seta4-9{
    display: none;
}
/* CERTA RESPOSTA */
#certaResposta{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10%;
}
#certaResposta #certo{
    width: 350px;
    position: relative;
    top: 6%;
    left: 32%;
}
#certaResposta h1{
    position: relative;
    bottom: -13%;
    left: 19%;
    font-size: 79px;
    animation-name: certaReposta;
    animation-duration: 2s;
}
@keyframes certaResposta{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#certaResposta #avançar{
    position: relative;
    top: 29%;
    left: 38%;
    width: 242px;
    height: 77px;
    font-size: 24px;
}



/* RESPOSTA ERRADA */
#respostaErrada{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10%;
}
#respostaErrada #errado{
    width: 350px;
    position: relative;
    top: 19%;
    left: 32%;
}
#respostaErrada h1{
    position: relative;
    bottom: -17%;
    left: 15%;
    font-size: 79px;
    animation-name: respostaErrada;
    animation-duration: 2s;
}
@keyframes respostaErrada{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#respostaErrada #avançar1{
    position: relative;
    top: 29%;
    left: 38%;
    width: 242px;
    height: 77px;
    font-size: 24px;
}

/* ACERTOU */
/* congratulations */


#pop-upI1{ 
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: coisa;
    animation-duration: 800ms;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
}









#acerto_ate3{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10%;
}
#acerto_ate3 #triste{
    width: 350px;
    position: relative;
    top: 6%;
    left: 32%;
}
#acerto_ate3 h1{
    position: relative;
    bottom: -13%;
    left: 23%;
    font-size: 29px;
    animation-name: h1;
    animation-duration: 2s;
}
@keyframes h1{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#acerto_ate3 #finalizar1{
    position: relative;
    top: 29%;
    left: 38%;
    width: 242px;
    height: 77px;
    font-size: 24px;
}









#acerto_ate5{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10%;
}
#acerto_ate5 #raiva{
    width: 350px;
    position: relative;
    top: 6%;
    left: 32%;
}
#acerto_ate5 h1{
    position: relative;
    bottom: -13%;
    left: 26%;
    font-size: 29px;
    animation-name: h1;
    animation-duration: 2s;
}
@keyframes h1{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#acerto_ate5 #finalizar2{
    position: relative;
    top: 29%;
    left: 38%;
    width: 242px;
    height: 77px;
    font-size: 24px;
}







#acerto_ate9{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10%;
    
}
#acerto_ate9 #bom{
    width: 350px;
    position: relative;
    top: 6%;
    left: 32%;
}
#acerto_ate9 h1{
    position: relative;
    bottom: -13%;
    left: 12%;
    font-size: 29px;
    animation-name: h1;
    animation-duration: 2s;
}
@keyframes h1{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#acerto_ate9 #finalizar3{
    position: relative;
    top: 29%;
    left: 38%;
    width: 242px;
    height: 77px;
    font-size: 24px;
}







#acerto_tudo{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10%;
}
#acerto_tudo #trofeu{
    width: 350px;
    position: relative;
    top: 6%;
    left: 32%;
}
#acerto_tudo h1{
    position: relative;
    bottom: -13%;
    left: 23%;
    font-size: 29px;
    animation-name: h1;
    animation-duration: 2s;
}
@keyframes h1{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#acerto_tudo #finalizar4{
    position: relative;
    top: 29%;
    left: 38%;
    width: 242px;
    height: 77px;
    font-size: 24px;
}

/* BOTAO SAIR */
#sair{
    position: absolute;
    top: 3.2%;
    right: 0;
}



/* USUARIO */
#usuario2{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
}
#usuario2 #listas0{
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
#usuario2 #listas1{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
#usuario2 #listas2{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
#usuario2 #listas3{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
#usuario2 #listas4{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
#usuario2 #listas5{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
.lista1{
    border: 1px solid black;
    border-radius: 4%;
    padding: 10px;
    background: white;
    margin-right: -1px;
    font-family: Releway;
    font-size: 20px;
}
.lista2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 4%;
    background: white;
    font-family: Releway;
    font-size: 20px;
    width: 100%;
    max-width: 346px;
}
.form{
    display: flex;
}
#gabarito{
    padding: 10px 190px 10px 190px;
    color: red;
    background-color: white;
}
#user{
    background: white;
    border: 1px solid black;
    border-radius: 1%;
    font-family: Relaway;
    width: 100%;
    max-width: 485px;
    text-align: center;
    margin-right: 15px;
}
#ponts{
    background: white;
    border: 1px solid black;
    border-radius: 1%;
    font-family: Relaway;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 485px;
    text-align: center;
    margin-right: 15px;
}